@model IEnumerable<Tournament.Indexes.Result>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Losses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Draws)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extras)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Player.FirstName @item.Player.LastName 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Losses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Draws)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extras)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
