@using Tournament.ViewModels
@model Tournament.ViewModels.LegViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<fieldset>
    <legend>LegViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeCaptainId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeCaptain.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AwayCaptainId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwayCaptain.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeTeamId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeTeam.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AwayTeamId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwayTeam.Name)
    </div>
    
    @Html.ActionLink("Add extra", "Add", "Extra", new { legId = Model.Id, homeTeamId = Model.HomeTeamId, awayTeamId = Model.AwayTeamId }, null)
    
    @{
        var extras = (IEnumerable<ExtraViewModel>) ViewBag.Extras ?? Enumerable.Empty<ExtraViewModel>();
    }
    <ul>
    @foreach (var extra in extras)
    {
        <li>@extra.Name - @extra.Player.FullName - @Html.ActionLink("delete", "delete", "Extra", new { id = extra.Id, legId = Model.Id }, null)</li>
    }
    </ul>
    
    @Html.ActionLink("Add match", "Create", "Match", new { legId = Model.Id, homeTeamId = Model.HomeTeamId, awayTeamId = Model.AwayTeamId }, null)
    
    <hr/>
    
    @{ Html.RenderAction("ByLeg", "Match", new {area = "admin", legId = Model.Id}); }

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>