@model Tournament.ViewModels.LegViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<fieldset>
    <legend>LegViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeCaptainId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeCaptain.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AwayCaptainId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwayCaptain.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeTeamId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeTeam.Name) - @GetTotal(Model.HomeTeamId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AwayTeamId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwayTeam.Name) - @GetTotal(Model.AwayTeamId)
    </div>
    
    <ul>
    @foreach (var extra in Model.Extras)
    {
        <li>@extra.Name - @extra.Player.FullName</li>
    }
    </ul>
    
    <hr/>
    
    @{ Html.RenderAction("ByLeg", "Match", new {legId = Model.Id}); }

</fieldset>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>


@functions
{
    public double GetTotal(string teamId)
    {
        if (Model.TeamScores.ContainsKey(teamId))
        {
            return Model.TeamScores[teamId];
        }
        return 0.0;
    }
}