@model IEnumerable<Tournament.ViewModels.LegViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeCaptainId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayCaptainId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeCaptain.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayCaptain.FullName)
        </td>
        <td>
            @Html.ActionLink("Details", "Detail", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
