@model Tournament.ViewModels.ChangePasswordModel
@{
	ViewBag.Title = "Change Password";
}
@if (ViewData.ModelState.IsValid == false)
{ 
	<div class="form-error">
		@Html.ValidationSummary(true)
	</div>
}
<article id="user-input">
	<div id="page-heading">
	<h1>Change user's password</h1>
	</div>
	    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>ChangePasswordModel</legend>
    
            @Html.HiddenFor(model => model.Id)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
</article>