@model Tournament.ViewModels.EventViewModel

    <fieldset>
        <legend>EventViewModel</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.AntiForgeryToken()

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slug)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slug)
            @Html.ValidationMessageFor(model => model.Slug)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Teams)
        </div>
        <div class="editor-field">
            @Html.ListBox("TeamIds", (IEnumerable<SelectListItem>)ViewBag.Teams, new { @class = "chzn-select", style = "width:350px;" })
            @Html.ValidationMessageFor(model => model.TeamIds)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>