@model Tournament.ViewModels.ExtraViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>ExtraViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlayerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PlayerId, Model.PlayersDataSource, new { @class = "chzn-select", style = "width:350px;" })
            @Html.ValidationMessageFor(model => model.PlayerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeamId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TeamId, Model.TeamDataSource, new { @class = "chzn-select", style = "width:350px;" })
            @Html.ValidationMessageFor(model => model.TeamId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
